* {
  padding: 0;
  margin: 0;
  outline: none;
}

@media (min-width: 834px) and (max-width: 1194px) {
  @font-face {
    font-family: 'Carosello';
    src: url('../../fonts/Carosello-Regular.ttf'); 
  }
  
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: black;
    background-color: #bf6d65;
    background-size: cover;
  }

  img {
    align-content: center;
    margin-bottom: 400px;
    
  }
  h1{
    font-family: 'Carosello';
    font-size: 60pt;
    margin-bottom: 100px;
    width: 50px;
  }
  .login-form {
    text-align: center;
    position: absolute;
    width: 100%;
  }
  .container-login {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .botao{
    width: 450px;
    height: 80px;
    background-color: #BFB3A4;
  }
  input#e-mail {
    width: 50vw;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    margin-top: 300px;
  }

  input#senha {
    width: 50vw;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
  }
  
}
