.paginaNovo-Pedido{
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.container-botoes{
    width: 100%;
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.carrinho{
    background-color: #8c423b;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5%;
    padding: 3%;
}


    

