

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 5vh;
    flex-wrap: wrap;
    background-color: #BF6D65;
}
.card_items {
    width: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8c423b;
    flex-wrap: wrap;
    margin: 2vh;
    border-radius: 10px;
    
  } 
  .img-card{
      height: 100px;
      width: 100px;
  }
  