* {
    padding: 0;
    margin: 0;
    outline: none;
  }
  
  @media (min-width: 834px) and (max-width: 1194px) {
   .signup{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
      color: black;
      background-color: #bf6d65;
      background-size: cover;
   
    }

    .cadastro-form {
      text-align: center;
      position: absolute;
      width: 100%;
    }
    .container-cadastro {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
  }